.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    margin: 2.5rem 0 0;
}

/* Mobile */
@media (max-width: 700px) {
    .board {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 6px;
        margin: 2rem 0 1rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}